*{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
@font-face {
    font-family: 'Pixie';
    src: url('../media/ProcrastinatingPixie.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Mom';
    src: url('../media/MomcakeBold.otf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #FAFAFA;
}
#cabecera_pagina{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #FAFAFA;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #c6c6c6;
}
#logo{
    width: 150px;
    padding: 20px;
}
#bars{
    width: 35px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#lista{
    padding: 60px;
}
#header_title {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #c6c6c6;
    padding-bottom: 50px;
}
#titulo_lista{
    text-transform: uppercase;
    font-family: "Pixie";
    font-size: 65px;
    color: #ffab91;
    text-shadow: 0 0 4px black;
}
#lista_ul{
    padding-top: 80px;
    list-style: none;
    font-family: "Mom";
    font-size: 40px;
}
#lista_ul li{
    padding: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#lista_ul li:nth-child(odd){
    background: #f1f1f1;
}
#container_imput{
    padding-right: 40px;
}
input {
    float: left;
    border: none;
    border-radius: 0;
    width: 100%;
    font-size: 40px;
    font-family: Mom;
    padding: 20px;
    background-color: #FAFAFA;
}

.addBtn {
    cursor: pointer;
    transition: 0.3s;
    width: 50px;
    padding: 17px;
}

input[type=checkbox] {
    display: block;
    width: 50px;
    height: 50px;
    -webkit-appearance: none;
    outline: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

input[type=checkbox]:not(:checked) {
    background-image: url("../media/crossbox.png");
    background-color: transparent;
}

input[type=checkbox]:checked {
    background-image: url("../media/checkbox.png");
    background-color: transparent;
}